@use '@angular/material' as mat;

.app-navigation-drawer {
  --app-navigation-width: 18rem;

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-lowest),
      container-divider-color: var(--mat-sys-outline-variant),
      container-shape: 0,
      container-width: var(--app-navigation-width),
    )
  );
}

.app-navigation-drawer-collapsed {
  --app-navigation-width: 4.5rem;
}
