@use '@angular/material' as mat;

.app-header {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );
  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-on-primary),
      text-state-layer-color: var(--mat-sys-on-primary),
      filled-container-color: var(--mat-sys-on-primary),
      filled-label-text-color: var(--mat-sys-primary),
      filled-state-layer-color: var(--mat-sys-primary),
    )
  );
}
